@import 'variables';

body {
  background: $background;
  color: $text;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 1.6rem;
  font-weight: 300;
  padding: 1rem;
}

:global {
  .container {
    margin: 0 auto;
    max-width: $width;
  }

  a,
  a:hover,
  a:active,
  a:visited {
    color: $emphasis;
  }
}
